<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
      <p>{{ doubleNum }}</p>
      <div v-if="loading">Loding ...</div>
      <div v-else>test user has been logged in</div>
      <!-- dom 에는 남아 있고 display: none; 속성만 갖고 있음. -->
      <div v-show="loading">test</div>
      <!-- 입력 값을 p 테그에 출력 -->
      <input type="text" v-model="message" />
      <p>{{ message }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          num: 10,
          uuid: "abc1234",
          name: "text-blue",
          loading: true,
          message: "",
        },
        computed: {
          doubleNum: function () {
            return this.num * 2;
          },
        },
      });
    </script>
  </body>
</html>
